fastapi
uvicorn
langchain
langchain-community
langgraph
langchain-text-splitters
faiss-cpu
sentence-transformers
langchain-groq
langchain-ollama
pydantic
pdfminer.six
python-dateutil
langchain_huggingface
torch
langdetect
celery[redis]
redis
